*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.container .number{
    font-size: 6rem;
}
.btn {
    width: 40rem;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.inc{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 2rem;
    background: black;
    color: white;
}
.dec{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 2rem;
    background: black;
    color: white;
}
.reset{
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 2rem;
    background: black;
    color: white;
}